<div class="columns" style="padding-top: 20px">
  <div class="column">
    <h1 class="has-text-centered is-size-4">Want to read</h1>
    <% @want_to_read_books.each do |book| %>
      <div class="card" style="margin-top: 10px">
        <div class="card-image">
          <figure class="image" style="height: 250px; width: 150px; margin-left: auto; margin-right: auto">
            <%= link_to image_tag(book.image_url), book_path(book) %>
          </figure>
        </div>
        <div class="card-content">
          <div class="media">
            <div class="media-left">
              <figure class="image is-48x48">
                <img src=<%= book.author_image_url %> alt="Placeholder image">
              </figure>
            </div>
            <div class="media-content">
              <p class="title is-4"><%= book.title %></p>
              <p class="subtitle is-6"><%= book.author %></p>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
  <div class="column">
    <h1 class="has-text-centered is-size-4">Reading</h1>
    <% @reading_books.each do |book| %>
      <div class="card" style="margin-top: 10px">
        <div class="card-image">
          <figure class="image" style="height: 250px; width: 150px; margin-left: auto; margin-right: auto">
            <%= link_to image_tag(book.image_url), book_path(book) %>
          </figure>
        </div>
        <div class="card-content">
          <div class="media">
            <div class="media-left">
              <figure class="image is-48x48">
                <img src=<%= book.author_image_url %> alt="Placeholder image">
              </figure>
            </div>
            <div class="media-content">
              <p class="title is-4"><%= book.title %></p>
              <p class="subtitle is-6"><%= book.author %></p>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
  <div class="column">
    <h1 class="has-text-centered is-size-4">Read</h1>
    <% @read_books.each do |book| %>
      <div class="card" style="margin-top: 10px">
        <div class="card-image">
          <figure class="image" style="height: 250px; width: 150px; margin-left: auto; margin-right: auto">
            <%= link_to image_tag(book.image_url), book_path(book) %>
          </figure>
        </div>
        <div class="card-content">
          <div class="media">
            <div class="media-left">
              <figure class="image is-48x48">
                <img src=<%= book.author_image_url %> alt="Placeholder image">
              </figure>
            </div>
            <div class="media-content">
              <p class="title is-4"><%= book.title %></p>
              <p class="subtitle is-6"><%= book.author %></p>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>