<!DOCTYPE html>
<html>
  <head>
    <title>BookManager</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container">
      <section class="hero is-medium is-danger is-bold">
        <div class="hero-body">
          <div class="container">
            <h1 class="title is-1">
              Book manager
            </h1>
            <h2 class="subtitle">
              Be organized
            </h2>
          </div>
        </div>
      </section>
      <%= yield %>
    </div>
  </body>
</html>
